@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rainbow-text {
    background: linear-gradient(
      to right,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgba(79, 220, 74, 1) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgba(251, 7, 217, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );
  }
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .popover__wrapper {
    margin-top: 2rem;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(-80px, 0px);
    min-width: 340px;
    max-width: 340px;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    top: 162px;
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .max-z {
    z-index: 9999;
  }
}
